<%- include('../../../partials/header.ejs') %>

<!-- Page Wrapper -->
<div id="wrapper">

<%- include('../../../partials/sidebar.ejs') %>

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

    <!-- Main Content -->
    <div id="content">

        <%- include('../../../partials/navbar.ejs') %>

        <!-- Begin Page Content -->
        <div class="container-fluid">

        <%- include('../../../partials/message.ejs') %>

            <!-- Page Heading -->
            <h1 class="h3 mb-4 text-gray-800"> Detail Item</h1>
            <!-- End Heading-->

            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#showFeature" role="tab" aria-controls="home" 
                    aria-selected="true">Show Feature</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#showActivity" role="tab" aria-controls="profile" 
                    aria-selected="false">Show Activity </a>
                </li>
            </ul>
            <div class="tab-content" id="myTabContent">
              <%- include('show_feature.ejs') %>
              <%- include('show_activity.ejs') %>
            </div>

        </div>
        <!-- /.container-fluid -->

    </div>
    <!-- End of Main Content -->

    <%- include('../../../partials/footer.ejs') %>

    </div>
    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

<!-- Logout Modal-->
<%- include('../../partials/logout_modal.ejs') %>

<%- include('show_modal_activity.ejs') %>
<%- include('show_modal_feature.ejs') %>
<%- include('../../../partials/js.ejs') %>
<script>
  //CKEDITOR.replace( 'about' );

  $(document).ready(function(){
    $('#dataTableActivity').DataTable();
  })

  $('#dataTableActivity').on('click', '.button-update', function(){
      let id = $(this).data('id');
      let name = $(this).data('name');
      let type = $(this).data('type');
      console.log(id + name)
      $('#editModalActivity').modal('show');
      $('.id').val(id);
      $('.name').val(name);
      $('.type').val(type);
  })

  $('#dataTable').on('click', '.button-update', function(){
      let id = $(this).data('id');
      let name = $(this).data('name');
      let qty = $(this).data('qty');
      console.log(id + name)
      $('#editModalFeature').modal('show');
      $('.id').val(id);
      $('.name').val(name);
      $('.qty').val(qty);
  })

  
</script>